@use './variables';
@use './style/menu';
@use './base/base';
@use './base/resets';
@use './style/profile';
@use './style/discover';

*{
    padding: 0;
    margin: 0;
}

.main{
    background: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
}